@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;300;400;700&display=swap');

:root{
    --font-family: 'Jost', sans-serif;
    --body-color: #212121;
    --container-width: 80%;

}


body {
    font-family: var(--font-family);
    background-color: var(--body-color);
}

h1 {
    color: white;
    font-size: 4rem;
    text-align: center;
}

.container{
    width: var(--container-width);
    margin: 2rem auto;
    border: 1px solid white;
    overflow: hidden;

}

.grid-gallery {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
    text-align: center;
    margin: 1.5rem;
}

.grid-cell {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.grid-cell:hover {
    cursor: pointer;
}

.overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 3;
    opacity: 0;
    transition: all ease-in-out 0.5s;
}

.grid-cell:hover .overlay {
    opacity: 1;
}

img {
    width: 100%;
    z-index: -1;
    margin: auto;
    transform: scale(1);
    transition: all ease-in-out 0.5s;
}

.grid-cell:hover img {
    transform: scale(1.1);
    filter: blur(2px);
}

.image-details {
    text-align: center;
    color: white;
    font-size: 20px;
    z-index: 4;
    position: absolute;
    top: 100%;
    opacity: 0;
    transition: all ease-in-out 0.5s;
    /*background-color: blue;*/
    width: 80%;
    padding-bottom: 5px;
}

.image-details p{
    margin-bottom: 2rem;
    font-weight: bold;
}

.grid-cell:hover .image-details {
    top: 40%;
    opacity: 1;

}

.flex {
    display: flex;
    /*flex-direction: column;*/
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.btn {
    background-color: #333;
    /* Green */
    border: 3px transparent solid;
    border-radius: 5px;
    color: white;
    padding: 20px 15px;
    width: 12rem;
    height: 4rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    transition: all 0.8s;
}

.btn:hover {
    border: 3px solid #fff;
}

@media only screen and (max-width: 900px) {
    .grid-cell {
        width: 70%;
        height: 70%;
    }
}